<mat-card class="m-card">
  <h2 class="m-title">Dashboard</h2>
  <div class="m-content">
    <p>Welcome to the dashboard! Here you can view the intervals of awarded producers.</p>
  </div>

<mat-card class="dashboard-container">
  <div class="card-row">
    <mat-card class="dashboard-card">
      <h3>List Years with Multiple Winners</h3>

        <table mat-table [dataSource]="multipleWinners" class="mat-elevation-z8"
          *ngIf="multipleWinners.length > 0; else noData">
          <ng-container matColumnDef="year">
            <th mat-header-cell *matHeaderCellDef> Year </th>
            <td mat-cell *matCellDef="let element"> {{ element.year }} </td>
          </ng-container>

          <ng-container matColumnDef="winnerCount">
            <th mat-header-cell *matHeaderCellDef> Winner Count </th>
            <td mat-cell *matCellDef="let element"> {{ element.winnerCount }} </td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="['year', 'winnerCount']"></tr>
          <tr mat-row *matRowDef="let row; columns: ['year', 'winnerCount'];"></tr>
        </table>
        <ng-template #noData>
          <p>No data available for years with multiple winners.</p>
        </ng-template>

    </mat-card>

    <mat-card class="dashboard-card">
      <h3>Top Studios</h3>
      <table mat-table [dataSource]="topStudios" class="mat-elevation-z8" *ngIf="topStudios.length > 0; else noStudiosData">
        <!-- Coluna Studio -->
        <ng-container matColumnDef="studio">
          <th mat-header-cell *matHeaderCellDef> Studio </th>
          <td mat-cell *matCellDef="let element"> {{ element.studio }} </td>
        </ng-container>

        <!-- Coluna Contagem de Vitórias -->
        <ng-container matColumnDef="winnerCount">
          <th mat-header-cell *matHeaderCellDef> Winner Count </th>
          <td mat-cell *matCellDef="let element"> {{ element.winnerCount }} </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="['studio', 'winnerCount']"></tr>
        <tr mat-row *matRowDef="let row; columns: ['studio', 'winnerCount'];"></tr>
      </table>

      <ng-template #noStudiosData>
        <p>No data available for top studios.</p>
      </ng-template>
    </mat-card>
  </div>

  <div class="card-row">

    <mat-card class="dashboard-card">
      <h3>Producers with Minimum and Maximum Intervals</h3>
      <div class="m-content">
        <div>
          <h4>Maximum Interval</h4>
          <table mat-table [dataSource]="maxIntervalProducers" class="mat-elevation-z8">
            <ng-container matColumnDef="producer">
              <th mat-header-cell *matHeaderCellDef> Producer </th>
              <td mat-cell *matCellDef="let element"> {{element.producerName}} </td>
            </ng-container>
            <ng-container matColumnDef="interval">
              <th mat-header-cell *matHeaderCellDef> Interval </th>
              <td mat-cell *matCellDef="let element"> {{element.interval}} </td>
            </ng-container>
            <ng-container matColumnDef="previousWin">
              <th mat-header-cell *matHeaderCellDef> Previous Win </th>
              <td mat-cell *matCellDef="let element"> {{element.previousYear}} </td>
            </ng-container>
            <ng-container matColumnDef="followingWin">
              <th mat-header-cell *matHeaderCellDef> Following Win </th>
              <td mat-cell *matCellDef="let element"> {{element.followingYear}} </td>
            </ng-container>
            <tr mat-header-row *matHeaderRowDef="['producer', 'interval', 'previousWin', 'followingWin']"></tr>
            <tr mat-row *matRowDef="let row; columns: ['producer', 'interval', 'previousWin', 'followingWin'];"></tr>
          </table>
        </div>
      </div>
      <div>
        <h4>Minimum Interval</h4>
        <table mat-table [dataSource]="minIntervalProducers" class="mat-elevation-z8">
          <ng-container matColumnDef="producer">
            <th mat-header-cell *matHeaderCellDef> Producer </th>
            <td mat-cell *matCellDef="let element"> {{element.producerName}} </td>
          </ng-container>
          <ng-container matColumnDef="interval">
            <th mat-header-cell *matHeaderCellDef> Interval </th>
            <td mat-cell *matCellDef="let element"> {{element.interval}} </td>
          </ng-container>
          <ng-container matColumnDef="previousWin">
            <th mat-header-cell *matHeaderCellDef> Previous Win </th>
            <td mat-cell *matCellDef="let element"> {{element.previousYear}} </td>
          </ng-container>
          <ng-container matColumnDef="followingWin">
            <th mat-header-cell *matHeaderCellDef> Following Win </th>
            <td mat-cell *matCellDef="let element"> {{element.followingYear}} </td>
          </ng-container>
          <tr mat-header-row *matHeaderRowDef="['producer', 'interval', 'previousWin', 'followingWin']"></tr>
          <tr mat-row *matRowDef="let row; columns: ['producer', 'interval', 'previousWin', 'followingWin'];"></tr>
        </table>
      </div>
    </mat-card>

    <mat-card class="dashboard-card">
        <h3>List movie winners by year</h3>
        <div class="m-content">

            <mat-form-field appearance="outline">
              <mat-label>Select Year</mat-label>
              <mat-select [(ngModel)]="selectedYear" (selectionChange)="onYearChange()">
                <mat-option *ngFor="let year of availableYears" [value]="year">
                  {{ year }}
                </mat-option>
              </mat-select>
            </mat-form-field>

            <table mat-table [dataSource]="winnersByYear" class="mat-elevation-z8">
              <ng-container matColumnDef="title">
                <th mat-header-cell *matHeaderCellDef> Title </th>
                <td mat-cell *matCellDef="let winner"> {{ winner.title }} </td>
              </ng-container>
              <ng-container matColumnDef="producers">
                <th mat-header-cell *matHeaderCellDef> Producers </th>
                <td mat-cell *matCellDef="let winner"> {{ winner.producers }} </td>
              </ng-container>
              <ng-container matColumnDef="studios">
                <th mat-header-cell *matHeaderCellDef> Studios </th>
                <td mat-cell *matCellDef="let winner"> {{ winner.studios }} </td>
              </ng-container>
              <tr mat-header-row *matHeaderRowDef="['title', 'producers', 'studios']"></tr>
              <tr mat-row *matRowDef="let row; columns: ['title', 'producers', 'studios'];"></tr>
            </table>
        </div>
    </mat-card>
  </div>
</mat-card>
</mat-card>
