<mat-toolbar color="primary">
  <span>Golden Raspberry Awards</span>
</mat-toolbar>

<mat-sidenav-container class="sidenav-container">

  <mat-sidenav mode="side" opened class="sidenav">
    <div class="logo-container">
      <img src="assets/images/logo.jpg" alt="Logo" class="logo-image" />
    </div>
    <mat-nav-list>
      <a mat-list-item routerLink="/dashboard" routerLinkActive="active">
        <mat-icon>dashboard</mat-icon>
        <span>Dashboard</span>
      </a>
      <a mat-list-item routerLink="/movies" routerLinkActive="active">
        <mat-icon>movie</mat-icon>
        <span>Movies</span>
      </a>
    </mat-nav-list>
  </mat-sidenav>

  <mat-sidenav-content>

    <div *ngIf="isLoading$ | async" class="spinner-overlay">
      <mat-progress-spinner mode="indeterminate" diameter="50"></mat-progress-spinner>
    </div>

    <router-outlet></router-outlet>

  </mat-sidenav-content>

</mat-sidenav-container>

